#!/usr/bin/make -f

export DEB_BUILD_OPTIONS=noautodbgsym

GOPATH := $(PWD)/gocode
export GOPATH

SHELL := sh -e
VERSION ?= 0.11.0

%:
	dh ${@}

override_dh_auto_clean:
	rm -rf debhelper-build-stamp \
    files findmydeviceserver.substvars \
    findmydeviceserver

findmydeviceserver-v$(VERSION).tar.gz:
	curl -s -L -O https://gitlab.com/Nulide/findmydeviceserver/-/archive/v$(VERSION)/findmydeviceserver-v$(VERSION).tar.gz
	tar xzf findmydeviceserver-v$(VERSION).tar.gz

override_dh_auto_build: findmydeviceserver-v$(VERSION).tar.gz
	[ -d $(GOPATH) ] || mkdir $(GOPATH)
	mv fmd-server-v0.11.0* findmydeviceserver-v$(VERSION)
	cd findmydeviceserver-v$(VERSION) && go mod download && go mod verify
	cd findmydeviceserver-v$(VERSION) && go build -o fmd main.go

override_dh_auto_install:
	mkdir -p debian/findmydeviceserver/usr/bin
	mkdir -p debian/findmydeviceserver/usr/lib
	mkdir -p debian/findmydeviceserver/lib/systemd/system
	mkdir -p debian/findmydeviceserver/var/cache/fmd-db
	mkdir -p debian/findmydeviceserver/etc/findmydeviceserver
	cp -R findmydeviceserver-v$(VERSION)/web debian/findmydeviceserver/usr/lib/fmd-web
	cp findmydeviceserver-v$(VERSION)/fmd debian/findmydeviceserver/usr/bin
	cp findmydeviceserver-v$(VERSION)/config.example.yml debian/findmydeviceserver/etc/findmydeviceserver/config.yml
	cp debian/fmd.service debian/findmydeviceserver/lib/systemd/system

override_dh_dwz:
	true
